<h3>Comments<h3>
<div class="flex flex-col shadow my-4">
  <div class="bg-gray-200 flex flex-col justify-end p-6">
    <% commentable.comments.each do |comment| %>
      <p class="text-xl pb-4">
        <%= comment.body %>
        <a href="#" class="text=xl font-bold hover:text-green-700 pb-4">
          <%= link_to "#{comment.user.first_name}", user_path(comment.user_id) %>
        </a>
      </p>
      <p>
        <% if comment.user_id == current_user.id %>
            <div><%= link_to "Edit", edit_post_path(comment) %></div>
        <% else %>
          <% pre_like = comment.likes.find { |like| like.liker_id == current_user.id } %>
          <% if pre_like %>
            <%= link_to "Un-Like (#{comment.likes.count})", like_path(pre_like), method: :delete %>
          <% else %>
            <%= render partial: 'likes/like_button', locals: { likeable: comment } %>
          <% end %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>