<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.simple_fields_for :tickets do |p| %>
      <%= p.input :name, input_html: { prompt: 'Tickets', class: "frm" } %>
      <%= p.input :email, input_html: { prompt: 'Tickets', class: "frm" } %>
    <% end %>
  </div>
  
  <div class="form-actions">
    <%= submit_tag("Book Tickets", class: "btn post") %>
  </div>
<% end %>