<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @booking.event_id %>
</p>

<p>
  <strong>Num tickets:</strong>
  <%= @booking.num_tickets %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
