
  
  <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
  
    <div class="p-4 md:p-12 text-center lg:text-left">
    <!-- Image for mobile view-->
			<div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/MP0IUfwrn0A')"></div>
			
      <a class="href">
        <%= image_tag @user.profile_picture, class: "rounded-full w-30 h-30 border-2 border-green-500 " %>
      </a>
      <br>
      <h1 class="text-3xl font-bold pt-8 lg:pt-0"> <%= @user.full_name %> </h1>
      <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
      <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
        <% if @user.fight_profiles.count > 0 %>
          <%= @user.fight_profiles.first.ring_name %>
        <% end %>
        </p>
      <p class="pt-8 text-sm"><%= @user.bio %></p>
      <% if @user == current_user %>
        <%= link_to 'Edit my info', edit_registration_path(@user) %>
        <%= render 'friend_requests/pending_friend_requests' %><br>
        <h4>Notifications</h4><br>
        <%= render 'notifications/notifications' %><br>
        <% if @user.fight_profiles.count > 0 %>
          <%= link_to 'Edit your fight profile', edit_fight_profile_path(@user.fight_profiles.first.id), class: "btn post" %>
        <% else %>
          <%= link_to 'Set Up a fighter profile', new_fight_profile_path(), class: "btn post" %>
        <% end %>
      <% else %>
        <% if Friendship.exists?(user_a_id: current_user.id, user_b_id: @user.id) || Friendship.exists?(user_a_id: @user.id, user_b_id: current_user.id) %>
          <div class="pt-12 pb-8">
				    <button class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full">
				      <%= button_to 'Un Friend!', friendship_path, method: :delete, class: "btn post"  %>
				    </button> 
			    </div>
        <% elsif FriendRequest.exists?(requestor_id: current_user.id, receiver_id: @user.id) || FriendRequest.exists?(requestor_id: @user.id, receiver_id: current_user.id) %>
          <p> There is already a pending friendship request between the two of you, one of you needs to sort it.... </p>
        <% else %>
          <div class="pt-12 pb-8">
				    <button >
				      <%= button_to 'Add friend', friend_requests_path, method: :post, params: { receiver_id: @user.id }, class: "btn post" %>
				    </button> 
			    </div>
          
        <% end %>
      <% end %>
      <div>
      
      </div>
      <br>
      <div>
        <p>Here are all of <%=@user.first_name%>'s posts</p><br>
        <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.posts.each do |post| %>
            <tr>
              
              <td class="rounded-lg bg-gray-200 text-black"><%= post.body %></td>
            </tr>
          <% end %>
        </tbody>
        </table>
      
      </div>

    </div>
  </div>
<div>
  <%= render 'fight_profile' %>
</div>