<div class="flex flex-col flex-space-x-10 py-10">
    <div class="flex flex-row flex-auto space-x-10 place-content-between shadow-2xl border-blue-900 border-b-2">
        <div class="w-2/3 flex-items-center">
            <a class="href">
              <% if @gym.avatar.attached?%>
                <%= image_tag @gym.avatar, class: "rounded-full w-30 h-30 border-2 border-green-500 " %>
              <% end %>
            </a>
            <h1 class="text-3xl font-bold pt-8 lg:pt-0"> <%=@gym.name %> </h1>
        </div>
        <div class="w-1/3 flex-items-center">
            <div>
                <h2>Events</h2>
            </div>
            <div>
              <% if current_user.id == @gym.user_id %>
                <%= link_to 'Create New Event', new_event_path, class: "btn post" %>
              <% end %>
            </div>
        </div>
    </div>
    <div class="flex flex-col text-left w-2/3">
        <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
            Owner: <%= @gym.user.first_name + " " + @gym.user.last_name %>
        </p>
        <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
          <%= "Is a #{@gym.primary_style} gym in the #{@gym.addresses.first.town_or_city} area, they currently have #{@gym.fighters.count} active fighters fighting out of their gym." %>
        </p>
        <div class="">
          <% if current_user.id == @gym.user_id %>
            <p>
              <%= link_to 'Edit my gym', edit_gym_path(@gym), class: "btn post" %>
            </p>
          <% else %>
            <p>
              <% pre_like = @gym.likes.find { |like| like.liker_id == current_user.id } %>
              <% if pre_like %>
                <%= link_to "Un-Like (#{@gym.likes.count})", like_path(pre_like), method: :delete, class: "btn like unlike" %>
               <% else %>
                 <%= render partial: 'likes/like_button', locals: { likeable: @gym } %>
               <% end %>
            </p>
          <% end %>
        </div>
        <div>
            <h2 class="text-xl font-bold pt-8 lg:pt-0">Find us</h2>
            <p>
                <strong>Address:</strong>
                <% @gym.addresses.each do |address| %>
                    <p><%= address.address1 %></p>
                    <p><%= address.address2 %></p>
                    <p><%= address.town_or_city %></p>
                    <p><%= address.county %></p>
                    <p><%= address.post_code %></p>
                    <p><%= address.country %></p>
                <% end %>
            </p>
            <p>
                <strong>Email:</strong>
                <%= @gym.email %>   
            </p>
            <p>
                <strong>Website:</strong>
                <%= @gym.website %>
            </p>
            <p>
                <strong>Telephone:</strong>
                <%= @gym.telephone %>
            </p>
            <div>
                placeholder for map
            </div>
        </div>
    </div>
    <div class="flex flex-col text-left w-1/3">
        <div>
            <p>
                <h2 class="text-xl font-bold pt-8 lg:pt-0">Here are all of <%=@gym.name%>'s events</h2><br>
                <table>
                    <thead>
                        <tr>
                            <th colspan="3"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @gym.hosted_events.each do |event| %>
                            <tr>
                                <td><%= link_to "#{event.event_name}", event_path(event) %></td>
                                </tr>
                        <% end %>
                    </tbody>
                </table>
            </p>
        </div>
        <div>
            <p>
                <h2 class="text-xl font-bold pt-8 lg:pt-0">Here are all of <%=@gym.name%>'s Fighters</h2><br>
            </p>
        </div>
    </div>

</div>