<nav class="bg-black">
  <div class="max-w-5xl mx-auto border border-green-600">
    <div class="flex justify-around">
      <div class="flex items-center space-x-1">
        <a href="#" class="flex items-center py-2 px-2">

        <span>AFEM</span>
        </a>        
        <a href="#" class="py-5 px-3">
          <%= link_to 'Home', root_path, class: "py-5 px-3 text-gray-700 hover:text-gray-900" %>
        </a>
        <a href="#" class="py-5 px-3">
          <%= link_to 'Dojos', gyms_path, class: "py-5 px-3 text-gray-700 hover:text-gray-900" %>
        </a>
        <a href="#" class="py-5 px-3">
          <%= link_to 'Fighters', fight_profiles_path, class: "py-5 px-3 text-gray-700 hover:text-gray-900" %>
        </a>
        <a href="#" class="py-5 px-3">
          <%= link_to 'Events', events_path, class: "py-5 px-3 text-gray-700 hover:text-gray-900" %>
        </a>

      </div>
      <div class="flex items-center space-x-1">
      <% if user_signed_in? %>
        <a href="#" class="py-5 px-3">
          <%= link_to 'My Profile', current_user, class: "py-5 px-3 text-gray-700 hover:text-gray-900" %>
        </a>
        <a href="#" class="py-5 px-3">
          <%= link_to "Notifications (#{current_user.notifications.where(read_at: nil).count})", class: "py-5 px-3 text-gray-700 hover:text-gray-900" %>
        </a>
        <a href="#" class="py-5 px-3">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "py-5 px-3 text-gray-700 hover:text-gray-900 hover:bg-red-800 hover:text-white" %>
        </a>
        <a href="#" class="py-5 px-3">
          <%= image_tag current_user.profile_picture, class: "rounded-full w-10 h-10 border-2 border-transparent hover:border-indigo-400 text-white" %>
        </a>
      <% else %>
         <a href="#" class="py-5 px-3">
          <%= link_to 'Sign In', new_user_session_path, class: "bg-green-600 py-5 px-3 text-gray-200 hover:bg-green-700 hover:text-gray-900" %>
        </a>
      <% end %>        
      </div>
    </div>
  </div>
</nav>