
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs p-10 flex-col flex-wrap items-center space-y-2">
    <%= f.input :gym_id, collection: current_user.gyms.all, prompt: "Which gym are you creating the event for?", input_html: { class: "frm" }, require: true %>
    <%= f.input :event_date, input_html: { class: "text-area frm" } %>
    <%= f.input :event_name, input_html: { class: "text-area frm" } %>
    <%= f.input :event_info, input_html: { class: "text-area frm" } %>
    <%= f.input :num_tickets, input_html: { class: "frm" } %>
    <%= f.input :ticket_price, input_html: { class: "frm" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn post" %>
  </div>
<% end %>
