
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs bg-gray-900">
    <%= f.input :gym_id, collection: current_user.gyms.all, prompt: "Which gym are you creating the event for?" %>
    <%= f.input :event_date %>
    <%= f.input :event_name %>
    <%= f.input :event_info %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
