<p id="notice"><%= notice %></p>
<div class="w-full container mx-auto bg-grey-900 shadow-outline">
  <div>
    <table class="bg-transparent mx-auto">
      
      <tr>
        <td class="px-10 text-xl text-center"><%= @event.sign_ups.count %></td>
        <td class="p-1 text-xl text-center"><%= (@event.sign_ups.count)-(@event.fights.count*2) %></td>
        <td class="p-1 text-xl text-center"><%= @event.num_tickets - @event.tickets_remaining %></td>
        <td class="p-1 text-xl text-center"><%= @event.tickets_remaining %></td>
      </tr>
      <tr>
        <th class="px-10 text-xs text-center">Fighters Signed Up</th>
        <th class="px-10 text-xs text-center">Fighters Not Yet Matched</th>
        <th class="px-10 text-xs text-center">Tickets Sold</th>
        <th class="px-10 text-xs text-center">Tickets Left</th>
      </tr>
    </table>
  </div>
  <div class="flex flex-row flex-auto space-x-10 place-content-between shadow-2xl" >
    <div class="shadow-inner w-full container flex flex-col items-center h-auto bg-gradient-to-t from-gray-400 via-green-800 to-gray-800 mx-auto rounded-lg border-green-200 border-opacity-10 ">
      <h1 class="p-10 font-serif bg-transparent text-8xl text-center"><%= @event.event_name %> </h1>
      <br>
      <br>
      <p class="flex auto items-center p-5 h-auto bg-transparent text-2xl">
        <%= @event.event_info %>
      </p>
      <br>
      <br>
      <p class="flex auto items-center p-5 h-auto bg-transparent">
        <strong class="text-4xl">Fights</strong>
          <% if @event.fights.count > 0 %>
            <table class="bg-transparent">
              <tr>
                <th class="p-2">Fighter A:</th>
                <th class="p-2">Fighter B:</th>
                <th class="p-2">Update:</th>
              </tr>              
              <% fight = @event.fights.each do |f| %>
                <tr>
                  <td class="p-2"><%= f.fighter_a.user.full_name %></td>
                  <td class="p-2"><%= f.fighter_b.user.full_name %></td>
                  <td class="p-2"><%= link_to 'Update', edit_fight_path(f), class: "btn post" %></td>
                </tr>
              <% end %>
            </table>
        <% else %>
          <p> This event will be a flop if you don't schedule some fights fool
          </p>
        <% end %>
      </p>
      <br>
      <br>
      <p class="flex auto items-center p-1 h-auto bg-transparent">
        <strong class="text-2xl">Date - <%= @event.event_date %></strong>
        
      </p>
      <br>
      <br>
      <p class="flex-auto items-center p-1  h-auto bg-transparent">
        <% if @event.host.addresses.count > 0 %>
          <strong>Address:</strong>
              <% @event.host.addresses.each do |address| %>
                  <p><%= address.address1 %></p>
                  <p><%= address.address2 %></p>
                  <p><%= address.town_or_city %></p>
                  <p><%= address.county %></p>
                  <p><%= address.post_code %></p>
                  <p><%= address.country %></p>
              <% end %>
        <% else %>
          <strong class="text-2xl">Address - To be Confirmed</strong>
        <% end %>
      </p>
      

      
      <div class="flex flex-col items-center">
        <div class=" flex space-y-10">
          <div>
            <%= link_to "Edit", edit_event_path(@event), class: "btn post" %><br><br>
            <div class="p-1 text-white text-xl bg-green-900 border-2 border-white rounded-lg" >
              <h2 >Add a fight to this event</h2>
              <%= render 'fights/form', event: @event %>
              <br>
              <table class="bg-transparent p-2">
                <h4>Fighters signed up for this event</h4>
                <tr class="p-1">
                  <th class="p-2">Fighter Name:</th>
                  <th class="p-2">Gym:</th>
                  <th class="p-2">Weight:</th>
                  <th class="p-2">Email:</th>
                </tr>
                <% @event.users.each do |user| %>
                  <tr>
                    <td class="p-2"><%= user.full_name %></td>              
                    <td class="p-2"><%= user.fight_profiles.first.gym.name %></td>
                    <td class="p-2"><%= user.fight_profiles.first.fight_weight %></td>
                    <td class="p-2"><%= user.email %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
          
        </div>
        <p>
          <%= link_to 'Visit this gyms page for other events and info', gym_path(@event.host) %>
        </p>
        <p>
          <%= link_to 'Back to Events', events_path %>
        </p>
      </div>

      <div class="flex flex-col items-center">
        <%= render partial: 'comments/comments', locals: { commentable: @event }, class: "bg-transparent" %>         
      </div>
      <div class="flex flex-col items-center">
        <%= render partial: 'comments/form', locals: { commentable: @event } %>
      </div>
    </div>
  </div>
</div>
