<p id="notice"><%= notice %></p>
<div class="w-full container mx-auto bg-grey-900 shadow-outline">
  <div class="flex flex-row flex-auto space-x-10 place-content-between shadow-2xl" >
    <div class="shadow-inner w-full container flex flex-col items-center h-auto bg-gradient-to-t from-gray-400 via-green-800 to-gray-800 mx-auto rounded-lg border-green-200 border-opacity-10 ">
      <h1 class="p-10 font-serif bg-transparent text-8xl text-center"><%= @event.event_name %> </h1>
      <br>
      <br>
      <p class="flex auto items-center p-5 h-auto bg-transparent text-2xl">
        <div><%= @event.event_info %></div><br><br>
        <div> 
          <% if @event.tickets_remaining > 0 %>
            <%= "Tickets Remaining #{@event.tickets_remaining}" %>
            <%= render partial: 'bookings/form', locals: { event: @event } %>
            <%= "£#{@event.ticket_price} per ticket" %>
          <% else %>
            <p>This Event is sold out!</p>
          <% end %>
        </div>
      </p>
      <br>
      <br>
      <p class="flex auto items-center p-5 h-auto bg-transparent">
        <strong class="text-4xl">Fights will include this epic showdown!</strong>
        <% if @event.fights.count > 0 %>
          <% @event.fights.each do |fight| %>
            <div class="flex flex-row flex-auto space-x-10 place-content-between shadow-2xl">
              <div class="flex flex-col">
                <div class="w-full flex flex-col items-center px-3">
                  <a class="href">
                    <%= image_tag fight.fighter_a.user.profile_picture, class: "rounded-lg w-10 h-10 border-2 border-transparent hover:border-indigo-400 text-white " %>
                  </a>
                  <p>
                    <%= fight.fighter_a.ring_name %>
                  </p>
                </div>
              </div>
              <div class="flex flex-col">
                <div class="w-full flex flex-col items-center px-3">
                  <a class="href">
                    <%= image_tag fight.fighter_b.user.profile_picture, class: "rounded-lg w-10 h-10 border-2 border-transparent hover:border-indigo-400 text-white" %>
                  </a>
                  <p>
                    <%= fight.fighter_b.ring_name %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p> There are no fights scheduled for this event just yet, please check back soon
          </p>
        <% end %>
      </p>
      <p class="flex auto items-center p-1 h-auto bg-transparent">
        <strong class="text-2xl">Hosted by - <%= @event.host.name %></strong>
        
      </p>
      <br>
      <br>
      <p class="flex auto items-center p-1 h-auto bg-transparent">
        <strong class="text-2xl">Date - <%= @event.event_date %></strong>
        
      </p>
      <br>
      <br>
      <p class="flex-auto items-center p-1  h-auto bg-transparent">
        <% if @event.host.addresses.count > 0 %>
          <strong>Address:</strong>
              <% @event.host.addresses.each do |address| %>
                  <p><%= address.address1 %></p>
                  <p><%= address.address2 %></p>
                  <p><%= address.town_or_city %></p>
                  <p><%= address.county %></p>
                  <p><%= address.post_code %></p>
                  <p><%= address.country %></p>
              <% end %>
        <% else %>
          <strong class="text-2xl">Address - To be Confirmed</strong>
        <% end %>
      </p>
      

      
      <div class="flex flex-col items-center">
        <div class="flex flex-row items-center p-1 space-x-2">
            <% pre_like = @event.likes.find { |like| like.liker_id == current_user.id } %>
            <% if pre_like %>
              <%= link_to "Un-Like (#{@event.likes.count})", like_path(pre_like), method: :delete, class: "btn like unlike" %>
            <% else %>
              <%= render partial: 'likes/like_button', locals: { likeable: @event } %>
            <% end %>
            <% pre_sign = @event.sign_ups.find { |sign| sign.user_id == current_user.id } %>
            <% if pre_sign %>
              <%= link_to 'Quit This Event', sign_up_path(pre_sign), method: :delete, class: "btn post" %>
            <% else %>
              <%= render partial: 'sign_ups/sign_up_button', locals: { sign_upable: @event } %>              
            <% end %>
        </div>
        <p>
          <%= link_to 'Visit this gyms page for other events and info', gym_path(@event.host), class: "color-blue-500" %>
        </p>
        <p>
          <%= link_to 'Back to Events', events_path %>
        </p>
      </div>

      <div class="flex flex-col items-center">
        <%= render partial: 'comments/comments', locals: { commentable: @event }, class: "bg-transparent" %>         
      </div>
      <div class="flex flex-col items-center">
        <%= render partial: 'comments/form', locals: { commentable: @event } %>
      </div>
    </div>
  </div>
</div>
