
<%= simple_form_for(@fight_record) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% f.hidden_field :user_id %>
    <%= f.input :style_id, collection: Style.all, prompt: 'What is the primary style at your gym?', input_html: { class: "frm" } %>
    <%= f.input :win, input_html: { class: "frm" } %>
    <%= f.input :draw, input_html: { class: "frm" } %>
    <%= f.input :lose, input_html: { class: "frm" } %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn post" %>
  </div>
<% end %>
