<h1>Editing Fight Profile</h1>

<%= render 'form', fight_profile: @fight_profile %>

<%= link_to 'Show', @fight_profile %> |
<%= link_to 'Back', user_path(@fight_profile.user) %>

<p class="text-xl pb-4">
  <div class="flex flex-col">
    <strong>Fight Records:</strong>
    <%= link_to 'Create New Record', new_fight_record_path(@fight_profile.user), class: "btn post" %><br>
    <table class="table-auto border-collapse rounded-lg p-2">
      <tr class="py-1">
        <th class="p-2" scope="col">Style</th>
        <th class="p-2" scope="col">Wins</th>
        <th class="p-2" scope="col">Draws</th>
        <th class="p-2" scope="col">Losses</th>
        <th class="p-2" scope="col">Fight Score</th>
        <th class="p-2" scope="col">Win %</th>
      </tr>
      <% @fight_profile.user.fight_records.each do |record| %>
      <tr>
        <td class="p-2"><%= record.style %></td>
        <td class="p-2"><%= record.win %></td>
        <td class="p-2"><%= record.draw %></td>
        <td class="p-2"><%= record.lose %></td>
        <td class="p-2"><%= record.fight_score %></td>
        <td class="p-2"><%= record.win_percentage %></td>
        <td class="p-2"><%= link_to 'Update', edit_fight_record_path(record), class: "btn post" %></td>
      </tr>        
      <% end %>
    </table>
  </div>
</p>
      
