
<%= simple_form_for(@gym) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :avatar %>
    <%= f.input :name, require: true %>
    <%= f.input :primary_style, collection: Style.all, prompt: 'What is the primary style at your gym?', input_html: { class: "frm" }, require: true %>
    <%= f.input :email, require: true %>
    <%= f.input :website %>
    <%= f.input :telephone, require: true %>
    <%= f.input :num_prems, label: "Number of Premises", collection: 0..10 %>
  </div>

  <button class="btn post">
    <%= f.button :submit, "Add Gym" %>
  </button>
<% end %>
