<div class="flex flex-col items-center">
  <%= simple_form_for(@gym) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs p-10 flex-col flex-wrap items-center space-y-2">
      <%= f.file_field :avatar %>
      <%= f.input :name, require: true, input_html: { class: "frm" } %>
      <%= f.input :style_id, collection: Style.all, prompt: 'What is the primary style at your gym?', input_html: { class: "frm" }, require: true %>
      <%= f.input :email, require: true, input_html: { class: "text-area frm" } %>
      <%= f.input :website, input_html: { class: "text-area frm" } %>
      <%= f.input :telephone, require: true, input_html: { class: "text-area frm" } %>
      <%= f.input :num_prems, label: "Number of Premises", collection: 0..10, input_html: { class: "frm" } %>
    </div>

    <button class="form-actions">
      <%= f.button :submit, "Add Gym", class: "btn post" %>
    </button>
  <% end %>
</div>
