<p id="notice"><%= notice %></p>

<h3>Friend Requests</h3>
<br>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.friend_requests_as_receiver.each do |friend_request| %>
      <ul>
        <li>You have a friend request from <%= friend_request.requestor.first_name %> <%= friend_request.requestor.last_name %></li>
        <li>
          <%= render partial: 'friendships/form', locals: { friend_request: friend_request } %>
          <%= link_to 'Destroy', friend_request, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    <% end %>
  </tbody>
</table>

<br>

