<p id="notice"><%= notice %></p>

<div class="w-full container mx-auto">
    <div class="flex md-flex-row flex-auto space-x-4  place-content-evenly" >
        <div class="flex flex-col flex-auto items-left place-items-start w-1/4">
          <div class=""><h2>All these upcoming events!</h2></div>
          <% Event.all.each do |event| %>
            <div class="">              
              <%= render partial: 'events/event', locals: { event: event } %>
            </div>
          <% end %>
        </div>

        <div class="flex flex-col items-center py-12 w-2/4">
            <div class="">
                <h1>Live feed...news feed...feed me??</h1>
            </div>

            <div class="">
                <%= render "posts/form", post: @post %>
            </div>
            
            <% @posts.each do |post| %>
                <div  class="w-full md:w-2/3 flex flex-col items-center px-3">
                <%= render partial: 'posts/post', locals: { post: post} %>
                </div>
            <% end %>              
        </div>
        
        <div class="flex flex-col items-right py12 w-1/4">
          <div class=""><h2>Look at all these fighters!</h2></div>
          <% FightProfile.all.each do |fight_profile| %>
            <div class="">
              <%= render partial: 'fight_profiles/fighters', locals: { fight_profile: fight_profile } %>
            </div>
          <% end %>
          
        </div>
    </div>
</div>