

<div class="w-full container mx-auto bg-grey-900 shadow-outline">
  <div class="flex flex-row flex-auto space-x-10 place-content-between shadow-2xl" >

    <div class="flex flex-col items-center space-x-1 space-y-1 py-12 w-1/4">
      <div class="bg-gray-700 flex flex-col rounded-lg p-6 border-white border-2">
        <div class="bg-transparent w-full flex flex-col items-center text-2xl px-3">
          <h2>Look at all these upcoming events!</h2>
        </div>
      </div>
                  
      <% Event.all.each do |event| %>
        <div  class="bg-gray-900 w-full flex flex-col items-center px-3">
          <%= render partial: 'events/event', locals: { event: event } %>
        </div>
      <% end %>         
    </div>

    <div class="flex flex-col items-center space-x-1 space-y-10 py-12 w-2/4">
      <div class="bg-gray-700 flex flex-col rounded-lg p-6 border-white border-2">
        <div class="bg-transparent w-full flex flex-col items-center text-2xl px-3">
          <h1>Live feed...news feed...feed me??</h1>
        </div>      

        <div class="bg-transparent w-full md:w-2/3 flex flex-col items-center px-3">
          <%= render "posts/form", post: @post %>
        </div>
      </div>
                  
      <% @posts.each do |post| %>
        <div  class="bg-gray-900 w-full flex flex-col items-center px-3">
          <%= render partial: 'posts/post', locals: { post: post} %>
        </div>
      <% end %>         
    </div>

    <div class="flex flex-col items-center space-x-1 space-y-1 py-12 w-1/4">
      <div class="bg-gray-700 flex flex-col rounded-lg p-6 border-white border-2">
        <div class="bg-transparent w-full flex flex-col items-center text-2xl px-3">
          <h2>Look at the TOP 10 Fighters!
        </div>
      </div>
      
      <div class="bg-gray-700 flex flex-col rounded-lg p-6 border-white border-2">
        <table class="bg-gray-900 w-full flex flex-col items-center px-3">
          <tr>
            <th class="p-2" scope="col"><strong> Name:</strong></th>
            <th class="p-2" scope="col"><strong>Style:</strong></th>
            <th class="p-2" scope="col"><strong>Fight Score:</strong></th>
            <th class="p-2" scope="col"><strong>Win %</strong></th>
          </tr>
          <% FightRecord.order(fight_score: :desc).limit(10).each do |record| %>
            <tr>
              <td class="p-2"><%= record.user.full_name %></td>
              <td class="p-2"><%= record.style %></td>
              <td class="p-2"><%= record.fight_score %></td>
              <td class="p-2"><%= record.win_percentage %></td>
            </tr>
          <% end %>         
        </table>        
      </div>
                  
       
    </div>
    
  </div>
</div>