
<%= simple_form_for [@event, @event.fights.new] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs p-10 flex-col flex-wrap items-center space-y-2">
    <%= f.input :fighter_a_id, collection: @event.users, label_method: :full_name, prompt: "Pick your first fighter for this match", input_html: { class: "frm" }, require: true %>
    <%= f.input :fighter_b_id, collection: @event.users, label_method: :full_name, prompt: "Pick your second fighter for this match", input_html: { class: "frm" }, require: true %>
    <%= f.input :style_id, collection: Style.all, prompt: "Pick a style for this fight", input_html: { class: "frm" } %>
    <%= f.input :weight, input_html: { class: "text-area bg-gray-500 rounded-lg" }, require: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn post" %>
  </div>
<% end %>
