
<%= simple_form_for(@fight) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :fighter_a_id %>
    <%= f.input :fighter_b_id %>
    <%= f.input :style_id, collection: Style.all, prompt: "Pick a style for this fight", input_html: { class: "frm" } %>
    <%= f.input :weight %>
    <%= f.input :result %>
    <%= f.input :draw %>
    <%= f.input :winner %>
    <%= f.input :info %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn post" %>
  </div>
<% end %>
