<div class="lg:px-16 px-6 bg-gray-200 flex flex-wrap items-center lg:py-0 py-2">
  <div class="flex-1 flex justify-between items-center">
    <a href="#">
      <div>
        logo
      </div>
    </a>
  </div>
  <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
  <input class="hidden" type="checkbox" id="menu-toggle" />
  <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
    <nav>
      <ul class="lg-flex items-center justify-between text-base text-gray-800 pt-4 lg:pt-0">
        <li>
          <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'Home', root_path %></a>
        </li>
        <li>
          <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'Dojos' %></a>
        </li>
        <li>
          <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'Fighters' %></a>
        </li>
        <li>
          <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'Events' %></a>
        </li>
        <% if user_signed_in?%>
          <li>
            <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'My Profile', current_user %></a>
          </li>
          <li>
            <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class:"button is-info" %></a>
          </li>
        <% else %>
          <li>
            <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 "><%= link_to 'Sign In', new_user_session_path, class: "button is-info" %></a>
          </li>
        <% end %>
      </ul>
    </nav>    
    <a href="#" class="lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 pointer-cursor">
      <img class="rounded-full w-10 h-10 border-2 border-transparent hover:border-indigo-400" alt="profile picture"
        <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.profile_picture %>
                <% end %>>
    </a>
  </div>
</div>


   