<!DOCTYPE html>
<html>
  <head>
    <title>FightEventManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <style>
      #menu-toggle:checked + #menu {
        display: block;
      }
      .bg-black-alt  {
			background:#191919;
		}
		.text-black-alt  {
			color:#191919;
		}
		.border-black-alt {
			border-color: #191919;
		}
    </style>
  </head>

  <body class="antialiased bg-black-alt font-sans leading-normal w-auto flex-wrap tracking-normal text-blue-200 ">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header class="lg:px-16 px-6 bg-black flex w-auto flex-wrap items-center lg:py-0 py-2">
      <%= render 'layouts/navbar' %>
    </header>

    <div class=" flex items-center h-auto lg:h-screen w-auto flex-wrap mx-auto my-32 lg:my-0">
  
      <div class="p-4 md:px-5 md:py-12 text-center w-auto lg:text-left"> 
        <%= yield %>
      </div>
    </div>
  </body>
</html>
