

<div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
  <div class="p-4 md:p-12 text-center lg:text-left">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <div>
          <% if resource.avatar.attached? %>
            <%= image_tag resource.avatar %>
          <% end %>
        </div>

        <%= f.file_field :avatar %>

        <%= f.input :first_name, autofocus: false, placeholder: 'First Name', class: "text-area bg-gray-500 rounded-lg" %>

        <%= f.input :last_name, autofocus: false, placeholder: 'Last Name', class: "text-area bg-gray-500 rounded-lg" %>

        <%= f.input :username, autofocus: false, placeholder: 'Username', class: "text-area bg-gray-500 rounded-lg" %>

        <%= f.input :email, autofocus: false, placeholder: 'Email', class: "text-area bg-gray-500 rounded-lg" %>

        <%= f.input :bio, autofocus: false, placeholder: 'Say something about yourself', class: "text-area bg-gray-500 rounded-lg" %>

        

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password", class: "text-area bg-gray-500 rounded-lg" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "text-area bg-gray-500 rounded-lg" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                  
                    input_html: { autocomplete: "current-password", class: "text-area bg-gray-500 rounded-lg" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn post" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
