

<div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
  <div class="p-4 md:p-12 text-center lg:text-left">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <div>
          <% if resource.avatar.attached? %>
            <%= image_tag resource.avatar %>
            <%= button_to 'Change Profile Pic', resource.delete_image, class: "btn post" %>
          <% else %>
            <%= f.file_field :avatar %>
          <% end %>
        </div>

        

        <%= f.input :first_name,
                  class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                  autofocus: false,
                  input_html: { autocomplete: "first_name", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
      <%= f.input :last_name,
                  class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                  autofocus: false,
                  input_html: { autocomplete: "last_name", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
      <%= f.input :username,
                  class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                  autofocus: false,
                  input_html: { autocomplete: "username", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
      <%= f.input :email,
                  class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                  autofocus: false,
                  input_html: { autocomplete: "email", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" }%>
      <%= f.input :bio,
                  class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                  autofocus: false,
                  input_html: { autocomplete: "say something about yourself", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
        

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
        <%= f.input :password_confirmation,
                    class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
        <%= f.input :current_password,
                    class: "block text-gray-700 text-sm font-bold mb-2 ml-3",
                    hint: "we need your current password to confirm your changes",                  
                    input_html: { autocomplete: "current-password", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn post" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
